@import "nib"
@import "style.css"

//Variables
gris_medio = rgba(255, 255, 255, 0.25)
gris_bajo = #C1C1C1
azul = #00b2ee
azul_dark = #076d8a
icon = 'rock', Ubuntu
Ubuntu = 'Ubuntu', sans-serif

//OOCSS
.relative
	position relative
.absolute
	position absolute

//Pseudo
::-webkit-input-placeholder
	font-size 14px
:-moz-placeholder
	font-size 14px
::-moz-placeholder
	font-size 14px
:-ms-input-placeholder
	font-size 14px

body
	background #26262E
	font-family Ubuntu
	font-size 16px

figure
	margin 0

ul
	-webkit-padding-start 0px
	margin 0

.AlbumExtend
	background rgba(0, 0, 0, 0.34)
	color white
	font-size 16px
	margin 20px auto
	padding 10px 0 0
	width 100%
	&-playlist
		&-songs
			&-title
				font-size 1.3em
			&-song
				font-size 1em
				padding 10px 0
				margin 0
				border-bottom 1px solid rgba(255, 255, 255, 0.14)
				font-weight 100
				position relative
				&-buttons
					position absolute
					right 10px
					top 10px
					&-action
						font-family icon
						text-decoration none
						margin 0 5px
						font-size 11px
						&:before
							color white
					.add
						border 1px solid white
						border-radius 50%
						display block
						float left
						font-size 15px
						height 16px
						line-height 13px
						width 16px
						&:before
							content "+"
					.heart
						&:before
							content "\e600"
					.share
						&:before
							content "\e603"

.Albums
	margin 40px 0
	padding-bottom 70px
	&-album
		cursor pointer
		display inline-block
		margin 15px
		position relative
		top 0
		transition all .2s
		vertical-align top
		width 230px
		&:hover
			top -6px
		&-h2
			color #fff
			font-size 15px
			font-weight 300
			margin 0
			text-align center
			.span
				color #979797
				font-size 11px
		&-cover
			width 230px
			height 200px
			&-img
				margin 0 auto
				display block
				border-radius 4px
				width 200px
				height 100%
		&-pie
			background rgba(0, 0, 0, 0.25)
			margin 0 auto
			padding 3px 0
			text-align center
			width 200px
			&-img
				border-radius 50%
				width 40px
			&-artist
				font-size 13px
		&-img, &-data
			display inline-block
			vertical-align middle

#container
	margin 20px auto
	width 1200px
	padding 15px
	box-sizing border-box
	text-align center

.Header
	background #15141A
	box-shadow 0px 2px 5px rgba(0, 0, 0, 0.19)
	left 0
	padding 18px 40px
	position fixed
	right 0
	top 0
	z-index 9999999999
	&-logo, &-search, &-menu
		display inline-block
		margin 0 40px 0 0
		vertical-align middle
	&-profile
		position absolute
		right 40px
		top 18px		
		&-rockcampana, .face
			display inline-block
			vertical-align middle
		&-rockcampana
			color gris_medio
			font-size 1.4em
			margin 0 30px 0 0
		&-face
			&-rockup
				color gris_medio
				font-size .4em
				font-family icon
				&:before
					content "\e609"
			&-cara
				border-radius 50%
				margin 0 10px 0 0
				width 40px
			&-cara, .rockup
				display inline-block
				vertical-align middle
	&-search
		&-caja
			border 1px solid rgb(225, 225, 225)
			color #8F8F8F
			font-size 14px
			font-weight 300
			padding 7px 7px 7px 39px
			transition all .3s
			&:focus
				outline none
				border 1px solid #BCBCBC
		&-rock_search
			color #B1B1B1
			left 9px
			top 9px
			font-family icon
			&:before
				content "\e60c"
	&-logo
		&-img
			width 30px
	
	&-rock_menu
		display none
		font-family icon
		&:before
			content "\e607"

	&-menu
		li
			list-style none
			display inline-block
			a
				display block
				color gris_medio
				text-decoration none
				padding 5px
				&:hover
					color azul
				&.active
					color azul


.Song
	background rgb(38, 102, 130)
	bottom 0
	box-shadow 0px -2px 5px rgba(0, 0, 0, 0.19)
	left 0
	overflow hidden
	padding 30px 10px
	position fixed
	right 0
	text-align center
	z-index 99999999
	&-data
		font-size 14px
		font-weight 300
		line-height 19px
		width 200px
		&-cover
			float left
			margin 0 10px 0 0
			width 62px
		&-name
			color gris_bajo
			margin 0
		&-artist
			color rgba(255, 255, 255, 0.41)
			margin 0
		&-iconos
			color rgba(255, 255, 255, 0.41)
			margin 7px 0
			&-icono
				margin 0 5px
				display inline-block
				cursor pointer
				&:hover
					color azul
			&-mas
				border 2px solid rgba(255, 255, 255, 0.41)
				border-radius 50%
				height 15px
				line-height 14px
				position relative
				text-align center
				top -1px
				width 15px
	&-data, &-ttime, &-ext
		display inline-block
		vertical-align middle
		margin 0 15px
	
	&-ttime
		text-align center
		width 800px
		&-controls
			&-icono
				border 2px solid gris_medio
				border-radius 50%
				color gris_medio
				display inline-block
				height 25px
				line-height 25px
				margin 8px
				text-align center
				width 25px
		&-time
			color gris_medio
			font-size 14px
			font-weight 300
			&-line
				height 10px
				width 90%
				background azul
				box-shadow inset -674px 0 0 rgba(19, 19, 19, 0.99)
				border-radius 15px
			&-num, &-line, &-numrest
				display inline-block
				vertical-align middle
	
	&-ext
		&-icons
			&-icon
				color gris_medio
				display inline-block
				font-size 19px
				margin 0 5px
				vertical-align middle
			&-active
				color white
				font-size 17px
		&-vol
			background azul
			border-radius 15px
			box-shadow inset -14px 0px 0px black
			height 10px
			margin 10px 0
			width 90%

.espacio
	margin-bottom 100px
			
//Media Queries

@media screen and (max-width: 1200px)
	#container
		width 100%

@media screen and (max-width: 1100px)
	.Header
		position relative
		text-align center
		&-profile
			position relative
			top 0
			right 0
			text-align right
	.espacio
		display none
			
@media screen and (max-width: 768px)
	.Header
		&-menu
			margin 0
			display none
			li
				display block
				a
					background azul
					padding 10px 0
					margin 3px 0
					border-radius 5px
					color white
		&-rock_menu
			color gris_medio
			cursor pointer
			display block
			font-size 30px

@media screen and (min-width: 500px)			
	.AlbumExtend
		width 500px