@font-face {
	font-family: 'rock';
	src:url('../fonts/rock.eot?-snkw0x');
	src:url('../fonts/rock.eot?#iefix-snkw0x') format('embedded-opentype'),
		url('../fonts/rock.woff?-snkw0x') format('woff'),
		url('../fonts/rock.ttf?-snkw0x') format('truetype'),
		url('../fonts/rock.svg?-snkw0x#rock') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="rock_"], [class*=" rock_"] {
	font-family: 'rock';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.rock_search:before {
	content: "\e60c";
}

.rock_top:before {
	content: "\e608";
}

.rock_up:before {
	content: "\e609";
}

.rock_prev:before {
	content: "\e60a";
}

.rock_next:before {
	content: "\e60b";
}

.rock_heart:before {
	content: "\e600";
}

.rock_play:before {
	content: "\e601";
}

.rock_repeat:before {
	content: "\e602";
}

.rock_share:before {
	content: "\e603";
}

.rock_comments:before {
	content: "\e604";
}

.rock_random:before {
	content: "\e605";
}

.rock_campana:before {
	content: "\e606";
}

.rock_menu:before {
	content: "\e607";
}

.rock_facebook:before {
	content: "\e60d";
}

.rock_googlep:before {
	content: "\e60e";
}

.rock_twitter:before {
	content: "\e60f";
}

.rock_github:before {
	content: "\e610";
}

